<extend name="Index/index"/>

<block name="main">
	    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">

                <form action="/index.php?m=Admin&c=User&a=save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>权限：</th>
                            <td>
                                <select name="auth" id="catid" class="required">
                                    <option value="1">超级管理员</option>
                                    <option value="2">普通管理员</option>
                                    <option value="3">普通用户</option>
                                </select>
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>账号：</th>
                                <td>
                                    <input class="common-text required" id="title" name="uname" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>密码：</th>
                                <td><input class="common-text" name="upwd" size="50" value="" type="password"></td>
                            </tr>
                            <tr>
                                <th>重复密码：</th>
                                <td><input class="common-text" name="reupwd" size="50" value="" type="password"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>性别：</th>
                                <td><input name="sex" id="" type="radio" value="w" size="50" checked>女
                                <input name="sex" id="" type="radio" value="m" size="50">男
                                <input name="sex" id="" type="radio" value="x" size="50">保密</td>
                            </tr>
                            <tr>
                                <th>年龄：</th>
                                <td><input class="common-text" name="age" size="50" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th>头像：</th>
                                <td><input class="common-text" name="uface" size="50" value="" type="file"></td>
                            </tr>
                            <tr>
                                <th>电话：</th>
                                <td><input class="common-text" name="tel" size="50" value="" type="text"></td>
                            </tr>
<!--                             <tr>
                                <th>创建时间：</th>
                                <td><input class="common-text" name="create_at" size="50" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th>修改时间：</th>
                                <td><input class="common-text" name="update_at" size="50" value="" type="text"></td>
                            </tr> -->
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
</block>