<extend name="Index/index" />

<block name="main">

        <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">

                <form action="/index.php?m=Admin&c=User&a=update&uid={$user['uid']}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                            <th width="120"><i class="require-red">*</i>权限：</th>
                            <td>
                                <select name="auth" id="catid" class="required">
                                    <option value="1" 
                                    <?php if($user['auth']==1){echo 'selected';} ?>>
                                    超级管理员</option>
                                    <option value="2" 
                                    <?php if($user['auth']==2){echo 'selected';} ?>>
                                    普通管理员</option>
                                    <option value="3" 
                                    <?php if($user['auth']==3){echo 'selected';} ?>>
                                    普通用户</option>
                                </select>
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>账号：</th>
                                <td>
                                    <input class="common-text required" id="title" name="uname" size="50" value="{$user['uname']}" type="text">
                                </td>
                            </tr>
                        
                            <tr>
                                <th><i class="require-red">*</i>性别：</th>
                                <td>

                                    女<input name="sex" id="" type="radio" value="w" size="50"  
                                    <?php
                                     if($user['sex'] == 'w')
                                     {echo 'checked';}  
                                     ?>>

                                    男<input name="sex" id="" type="radio" value="m" size="50" 
                                    <?php
                                     if($user['sex'] == 'm'){echo 'checked';}
                                     ?> >

                                    保密<input name="sex" id="" type="radio" value="x" size="50" 
                                    <?php
                                     if($user['sex'] == 'x'){echo 'checked';}  ?> >
                
                            </td>
                            </tr>
                            <tr>
                                <th>年龄：</th>
                                <td><input class="common-text" name="age" size="50" value="{$user['age']}" type="text"></td>
                            </tr>
                            <tr>
                                <th>头像：</th>
                                <td><input class="common-text" name="uface" size="50" value="              {$user['uface']}" type="file">
                                    <img src="/Public/Uploads/<?=getSm($user['uface'])?>"/>
                                </td>
                            </tr>
                            <tr>
                                <th>电话：</th>
                                <td><input class="common-text" name="tel" size="50" value="{$user['tel']}" type="text"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="更新" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
</block>